@font-face {
    font-family: Belwe;
    src: url(belwe-bold-bt.ttf);
}

.container-header{
    background: url(header-top.png);
}

.container-header-filter{
    display: flex;
    justify-content: space-between;
    height: 8em;
    padding: 2em 2em 0 2em;
    background: url(header.jpg);
}

.title-header{
    color: rgb(215, 188, 100);
    margin: 0%;
    padding-top: 0.15em;
    font-family: Belwe;
    background: url(header-top.png);
}

.logo-header{
    display: flex;
    text-align: center;
    background: url(header-top.png);
}

.selects{
    width: 100%;
    max-width: 17%;
    height: 3em;
    border-radius: 5em;
    outline: none;
    background-color: rgb(222, 184, 135);
    cursor: pointer;
    font-size: 1rem;
    color: rgb(68, 57, 40);
    font-family: Belwe;
    text-align-last: center;
}

.selects:hover{
    background-color: rgb(215, 188, 100)
}

.body{
    background-color: rgb(222, 184, 135);
    margin: 0%;
}

.options{
    color: rgb(222, 184, 135);
}

#card-name{
    font-family: Belwe ;
    font: 15px;
    padding-top: 306px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(71, 45, 10);
}

#img-cards{
    width: 255px;
    height: 365px;
}

#container-cards{
    
}

.section-cards{
    
}

.card{
    width: 230x;
    height: 350px;
}

.no-image-card{
    background-image: url(card.png);
    background-position: center;
    background-size: cover;
    width: 255px;
    height: 350px;  
    display: inline-block;
}